@import "tailwindcss";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
   font-family: "Manufacturing Consent", system-ui;
      font-weight: 400;
  font-style: normal;
}
